button {
    display: flex;
    float: right;
    justify-content: flex-end;
    font-family: 'archia';
    font-size: 22px !important;
    font-weight: 900;
    margin-top: -35px;
    margin-right: 10px;
}
::ng-deep body a {
    color: white;
}
.title {
    margin: 12px 0px 0px 14px;
    font-family: 'archia';
    font-size: 23px !important;
    font-weight: 900;
}
.sub-title {
    margin-bottom: 15px;
    font-family: 'archia';
    font-size: 20px !important;
    font-weight: 900;
}

.header {
    height: 50px;
    color: white;
    background: #005b9f;
    border: 0.5px solid rgba(0, 0, 0, 0.03);
}
