<button pButton type="button" icon="pi pi-plus" label="Add News" class="ui-button-info" (click)="addNews()"></button>
<div *ngFor="let news of newsList">
    <p-panel class="news-panel">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:block;margin-top:2px">{{news.title}}</span>
                <span class="ui-panel-title" style="font-size:12px;display:block;margin-top:2px">{{news.description}}</span>
            </div>
        </p-header>
          {{news.summary}}
        <p-footer>
            <button pButton type="button" icon="pi pi-search" label="View Full News" class="ui-button-secondary" (click)="viewFullNews()"></button>
        </p-footer>
    </p-panel>
    <p-dialog header="{{news.title}}" [(visible)]="display" [maximizable]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
        {{news.fullNews}}
    </p-dialog>
</div>