.news-panel {
    margin: 20px 40px 0px 40px;
}

::ng-deep .ui-panel {
    margin: 10px 30px -20px 30px;
}
.ui-panel-description {
    font-weight: normal;
}

.ui-button-info {
    margin-left: 30px;
    margin-top: 20px;
}

.full-news-button {
    float: right;
}
