.mat-tab {
    min-width: 298px;
}

a {
    font-size: 20px;
}

.mat-tab-link {
    padding: 0px 200px;
}

:host {
    display: block;
    height: 100%;
}

.nav-panel{
    display: block;
    height: calc(100% - 100px);
    overflow: auto;
}