<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-div">
        <mat-form-field class="field-container">
          <input matInput placeholder="User Name" formControlName="username" required>
          <mat-error *ngIf="loginForm.get('username').invalid">{{getErrorMessage('username')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="field-container">
          <input matInput placeholder="Password" formControlName="password"
            [type]="isToggleChecked() ? 'text':'password'  " required>
          <mat-error class="error" *ngIf="loginForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <mat-checkbox class="show-password-checkbox" ng-checked="isChecked" (click)="toggleCheck()">Show Password
          </mat-checkbox>
          <button type="submit" mat-raised-button [disabled]="!loginForm.valid">Login</button>
          <button type="button" mat-raised-button (click)="resetForm()">Reset</button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>